{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>注册页</title>

    <!-- Bootstrap -->
    <link href="{% static 'login/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcdn.net/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcdn.net/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                {% if register_form.captcha.errors %}
                    <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
                {% elif message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}


                <form action="/register/" method="post">
                    {% csrf_token %}
                    <h1 class="text-center">用户注册</h1>


                    <div class="form-group">
                      {{ register_form.username.label_tag }}
                      {{ register_form.username}}
                    </div>
                    <div class="form-group">
                      {{ register_form.password1.label_tag }}
                      {{ register_form.password1 }}
                    </div>
                    <div class="form-group">
                      {{ register_form.password2.label_tag }}
                      {{ register_form.password2 }}
                    </div>
                    <div class="form-group">
                      {{ register_form.email.label_tag }}
                      {{ register_form.email }}
                    </div>
                    <div class="form-group">
                      {{ register_form.sex.label_tag }}
                      {{ register_form.sex }}
                    </div>
                    <div class="form-group">
                      {{ register_form.captcha.label_tag }}
                      {{ register_form.captcha }}
                    </div>



                    <button type="submit" class="btn btn-block btn-lg btn-primary">用户注册</button>

                    <div style="margin-top: 5%;"><a href="/login/">用户登录</a></div>

                </form>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{% static 'login/js/jquery.min.js' %}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
  </body>
</html>